.header {
    background-color: #3c8dbc;
}

.logo {
    color: white;
    font-size: 25px;
    margin-left: 40px;
    font-family: 'DINPro-Medium', serif;
}

.navItem {
    color: white;
}

.navItemLogout{
    display: flex;
    padding: 8px;
}

.navItemLogout:hover {
    color: #3B5998;
}