body {
    background-color: #ccc;
}
.main-container {
    margin: 0;
    padding: 0;
    width: 98.5%;
}

.leftContainer {
    background-color: #333;
    padding: 0;
    height: 100vh;
}

.leftContainerTitle {
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: 17px;
    background-color: #3B5998;
}

.leftContainerDivTitle {
    margin: 0;
    padding: 0;
}

.leftContainerDivTitle p{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.listTitle {
    font-size: 13px;
    background-color: #333;
    color: dimgray;
    padding-top: 8px;
    padding-bottom: 8px;
}

.list-element {
    background-color: #612D2D;
    color: white;
}

.list-element:hover {
    background-color: #333;
}

.icon {
    margin-right: 10px;
    color: black;
}

.list a {
    text-decoration: none;
}

.rightContainer {
    padding: 0;
    background-color: #ccc;
}

.dashboard {
    padding: 10px;
}

.dashboard-header {
    display: block;
    width: 100%;
}

.dashboard-header p {
    text-align: right;
    font-size: small;
    color: black;
    font-family: 'DINPro-Medium', serif;
}

.dashboard-body {
    display: block;
}

.list-element-button {
    text-align: left;
    padding: 12px 20px 12px 20px;
    border: black;
}

.list-element-button.focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.list-element-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.left-angle-icon {
    float: right;
    color: white;
    padding-top: 3px;
}

.sub-list-element {
    background-color: #610D1D;
    color: white;

}

.sub-list-element:hover {
    background-color: #333;
}

@media only screen and (max-width: 992px) {
    .main-container {
        width: 100%;
    }

    .leftContainer {
        height: 100%;
    }
}