.imgCard {
    height: 250px;
    padding: 30px;
}

.card-to-do {
    min-height: 500px;
}

.card-to-do-cancel {
    float: right;
}

@media only screen and (max-width: 992px) {
    .card-to-do {
        margin-top: 20px;
    }

}