.users-list {
    margin: 10px 0 20px;
}

.button-add {
    width: 100%;
}

.button-delete {
    margin-left: 3%;
    width: 55%;
}
.button-edit {
    width: 42%;
}

.toShow {
    display: none;
}

.currentPg {
    margin-left: 10px;
    margin-right: 30px;
}

.totalUsers {
    margin-left: 30px;
}

.selectFilter {
    font-size: 13px;
    padding-right: 5px;
}

.selectOption {
    padding-left: 5px;
}

@media (max-width: 991px) {
    .toHide {
        display: none !important;
    }

    .toShow {
        display: inline !important;
    }
}

@media (max-width: 488px) {
    .user-inherit .row {
        margin: 0;
    }

    .user-inherit .row .col-md-9{
        padding: 0;
    }

    .user-inherit .row .col-md-9 .paginationDiv .pagination .currentPg{
        margin-left: 0;
        margin-right: 5px;
    }

    .user-inherit .row .col-md-9 .paginationDiv .pagination .totalUsers{
        margin-right: 0;
        margin-left: 5px;
    }

    .user-inherit .row .col-md-3 {
       text-align: center;
    }

    .user-inherit .row .col-md-3 .pagination .filter .row .selectOption{
        padding: 0;
    }
}

@media (max-width: 768px) {

    .user-inherit .row .col-md-3 .pagination {
        margin-top: 10px;
    }
}